Code/Demos/Demos/bin/Debug/Demos.exe
Code/Demos/Demos/bin/Debug/Demos.exe.config
Code/Demos/Demos/obj/Debug/Demos.csprojResolveAssemblyReference.cache
Code/Demos/Demos/obj/Debug/Demos.exe
Code/Demos/Demos/obj/Debug/Demos.pdb
Code/Demos/Demos/bin/Debug/Demos.pdb
Code/Demos/Demos/obj/Debug/Demos.csproj.FileListAbsolute.txt
Code/Demos/Demos/Util/Form1.cs
Code/Demos/Demos/Util/Form1.cs
Code/Demos/Demos/Util/Form1.resx
Code/Demos/Demos/obj/Debug/Demos.csproj.GenerateResource.Cache
Code/Demos/Demos/obj/Debug/Demos.Util.Form1.resources
Code/Demos/Demos/obj/Debug/Demos.MainForm.resources