Code/Demos/Demos/bin/Debug/Demos.exe
Code/Demos/Demos/bin/Debug/Demos.exe.config
Code/Demos/Demos/obj/Debug/Demos.csprojResolveAssemblyReference.cache
Code/Demos/Demos/obj/Debug/Demos.exe
Code/Demos/Demos/obj/Debug/Demos.pdb
Code/Demos/Demos/bin/Debug/Demos.pdb
Code/Demos/Demos/obj/Debug/Demos.csproj.FileListAbsolute.txt